* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-yellow: #FFD700;
    --dark-green: #006400;

}

html body,
header,
main,
footer {
    max-width: 1140px;
    margin: auto;
    background: #FFD700;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Nunito', sans-serif;
}

body>.container {
    box-shadow: 10px 0 15px rgba(0, 0, 0, 0.2),
        -10px 0 15px rgba(0, 0, 0, 0.2);
}

body .container {
    padding: 0;
}

.go-top {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    right: 10px;
    bottom: 10px;

    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #FFFFFF;

    background-color: var(--dark-green);
    color: var(--main-yellow);
    font-size: 20px;
    text-decoration: none;

    z-index: 9999;
}

.show {
    display: flex;
}

/* Header */
/* Slider */
.slider {
    position: relative;
    height: 85vh;
    overflow: hidden;
}

.slides {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease;
}

.header-slide {
    min-width: 100%;
    position: relative;
}

.header-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
}

.slide-content {
    width: 70%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    color: #FFFFFF;
}

.header-slide .slider-logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    display: block;
    width: 30%;
    height: auto;

    padding-top: 25px;
}

.slide-content h1 {
    font-size: 60px;
    color: var(--main-yellow);
    padding-bottom: 25px;
    margin: 0;
    font-weight: 900;
}

.slide-content p {
    font-size: 24px;
    padding-bottom: 30px;
}

.slide-content a {
    font-size: 20px;
}

.slide-content .btn {
    padding: 8px 35px;
    border: 2px solid var(--main-yellow);
    border-radius: 30px;
    color: var(--main-yellow);
    text-decoration: none;
    transition: 0.5s;
}

.slide-content .btn:hover {
    background: var(--main-yellow);
    color: black;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    color: #FFFFFF;
    border: none;
    font-size: 30px;
    padding: 10px 15px;
    cursor: pointer;
    opacity: 0.5;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}

.dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.dots span {
    display: inline-block;
    width: 30px;
    height: 4px;
    background: #FFFFFF;
    margin: 0 5px;
    border-radius: 1px;
    cursor: pointer;
    opacity: 0.5;
}

.dots .active {
    opacity: 1;
    background: #FFFFFF;
}

/* End Slider */
/* Primary menu */
.hamburger,
.close-btn {
    position: fixed;
    top: 10px;
    right: 10px;

    width: 50px;
    height: 50px;
    background: var(--dark-green);
    border-radius: 50%;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    cursor: pointer;
}

.hamburger span {
    width: 26px;
    height: 4px;
    background: white;
    border-radius: 2px;
}

.close-btn {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 800;
    border: none;
    outline: none;
    z-index: 10;
}

#overlay {
    position: fixed;
    display: none;
    z-index: 9;
}

.primary-menu {
    max-width: 100%;
    background: var(--dark-green);
    border-bottom: 5px solid var(--main-yellow);

    display: flex;
    justify-content: center;
    justify-self: center;

    position: sticky;
    top: 0;
    z-index: 1000;
}

.primary-menu>ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;
    list-style: none;
    margin: 0;

}

.primary-menu>ul>li .current {
    background-color: var(--main-yellow);
    color: var(--dark-green);
}

.primary-menu>ul>li>a,
.page p {
    display: block;
    padding: 15px;

    text-decoration: none;
    font-size: 18px;
    color: var(--main-yellow);
}

.primary-menu>ul>li>*:hover {
    background-color: var(--main-yellow);
    color: var(--dark-green);
}

.page {
    position: relative;
}

.page p {
    margin: 0;
    cursor: default;
}

.page i {
    font-size: 14px;
}

.page ul {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    list-style-type: none;
    padding: 0;
}

.page:hover ul {
    display: block;
}

.page a {
    background-color: var(--main-yellow);
    color: var(--dark-green);
    font-size: 18px;
    display: block;
    text-decoration: none;
    padding: 5px 10px;
}

.page a:hover {
    text-decoration: underline;
}

/* End primary menu */
/* End Header */

/* Main */
/* About us */
.container .section-box {
    margin: 0;
    padding: 60px 20px;
    background-color: #FFFFFF;
}

.about-us img {
    width: 100%;
    border-radius: 5px;
}

.about-us .row .row {
    padding: 0;
}

.about-box>* {
    margin: 0;
}

.section-title {
    color: var(--dark-green);
    font-weight: 900;
    font-size: 45px;
    letter-spacing: 0.1em;

    text-align: center;
    margin-bottom: 20px;

}

.about-us h1 {
    text-align: left;
}

.about-us p a {
    display: inline-block;
    padding: 10px;
    margin-right: 10px;

    background: var(--dark-green);
    border-radius: 50%;
    color: var(--main-yellow);
    font-size: 14px;
}

.about-intro>p {
    font-size: 18px;
    text-align: justify;
    margin-bottom: 20px;
}

.about-us .about-box {
    background-color: #F2F2F2;
    border-radius: 5px;
    padding: 20px 25px;
}

.about-box h2 {
    color: var(--dark-green);
    font-size: 24px;
    font-weight: 800;
    text-align: justify;

    padding-top: 5px;
    padding-bottom: 15px;
    letter-spacing: 0.1em;
}

.reservations {
    padding-top: 100px;
}

.error {
    padding-left: 15px;

    font-size: 16px;
    font-style: italic;
    color: red;
}

.reservations>* {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.reservation-input,
.size-input {
    display: flex;
    flex-direction: row;

    height: 38px;
    padding-left: 15px;

    border-radius: 30px;
    border: 2px solid #DDDDDD;
}

.reservations input {
    width: 12ch;
    padding: 5px 0;

    border: none;
    outline: none;
    border-right: 2px solid #DDDDDD;
}

.input-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0 10px;
    background-color: #E9ECEF;
    border-radius: 0 30px 30px 0;

}

.size-input {
    position: relative;
    justify-content: space-between;
}

.size-input input {
    border: none;
    border-radius: 0 30px 30px 0;
}

.size-input .input-icon {
    font-size: 9px;
    background-color: transparent;
}

.size-list {
    display: none;
    position: absolute;
    padding: 0;
    top: 100%;
    left: 0;
    width: 100%;

    background: #FFFFFF;
    color: var(--dark-green);
    font-weight: 600;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
    list-style: none;
}

.size-list li {
    padding: 5px 0;
    padding-left: 10px;
    cursor: pointer;
}

.size-list li:hover {
    background-color: var(--dark-green);
    color: var(--main-yellow);
}

.reservations button {
    background-color: var(--dark-green);
    color: var(--main-yellow);

    height: 38px;
    border: none;

    padding: 5px 40px;
    border-radius: 30px;
}

/* End About us */
/* Food menu */
.food-menu .section-box {
    padding-top: 40px;
}

.food-menu .food-menu-heading {
    text-align: center;
    margin-bottom: 0;
}

.food {
    border-radius: 5px;
    background-color: #F2F2F2;
    text-align: center;
    padding-bottom: 30px;
}

.food-menu .food img,
.chef img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.food h2 a {
    display: block;
    color: var(--dark-green);
    padding-top: 15px;

    font-size: 16px;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
}

.order-btn {
    display: inline-block;

    color: var(--main-yellow);
    text-decoration: none;

    background-color: var(--dark-green);
    border-radius: 30px;
    padding: 5px 25px;
}

/* End Food Menu */
/* Chef */
.our-chef>.row {
    margin: 0;
    padding: 40px 20px;
    background-color: #F2F2F2;
}

.chef-heading {
    text-align: center;
    padding-bottom: 10px;
}

.chef-box {
    padding-bottom: 20px;
}

.chef {
    border-radius: 5px;
    background-color: #FFFFFF;
    text-align: center;
    padding-bottom: 15px;
}

.chef-name {
    display: block;
    padding-top: 15px;

    color: var(--dark-green);
    text-decoration: none;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 0.1em;
}

.chef-contact a {
    display: inline-block;
    background-color: var(--dark-green);
    color: var(--main-yellow);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 10px;
    font-size: 14px;
}

/*End Chef */
/* Food Lover Slider */
.food-lover-slider .section-box {
    padding-bottom: 80px;
}

#carouselExampleIndicators {
    width: 80%;
    margin: 0 auto;
}

.carousel-indicators {
    bottom: -60px !important;
}

.food-lover-slider .carousel-indicators {
    gap: 5px;
}

.food-lover-slider .carousel-indicators>button {
    background-color: var(--dark-green);
    width: 12px;
    height: 12px;
    opacity: 1;
    border-radius: 50%;
}

.food-lover-slider .carousel-indicators .active {
    background-color: var(--main-yellow);
}

.carousel-inner img {
    border-radius: 5px;
}

.lover-content {
    background-color: #F2F2F2;
    border-radius: 5px;
    padding-top: 50px;
}

.lover-content>* {
    margin: 0;
}

.lover-content h2 a {
    display: block;

    padding-bottom: 5px;
    color: var(--dark-green);
    text-decoration: none;
    font-size: 22px;
    font-weight: 800;

}

.lover-content :nth-child(2) {
    color: #777777;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Nunito', 'sans-serif';
    padding-bottom: 20px;
}

.lover-content :nth-child(3) {
    font-style: italic;
}

.lover-content i {
    color: var(--dark-green);
    font-size: 20px;
}

/* End Food Lover */
/* Contact */
.contact-container {
    background-color: var(--dark-green);
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 200;
    line-height: 1;
    padding: 20px;
}

.contact-box-line {
    border-bottom: 0.5px dotted var(--main-yellow);
    width: 100%;
    height: 0.5px;
    margin-bottom: 10px;
}

.contact-container h2 {
    color: var(--main-yellow);
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 0.1em;
}

.contact-box {
    padding: 10px;
}

.contact-us form>.row {
    margin: 0;
    padding: 0;

}

.form-box {
    box-sizing: border-box;
    background-color: var(--main-yellow);
    height: 100%;
    border-radius: 5px;
    padding: 30px 20px 20px 20px;
}

.form-box input,
.form-box textarea {
    background-color: #FFF3B3;
    border-radius: 30px;
    border: none;
    outline: none;
    width: 100%;
    padding: 5px 0;
    padding-left: 15px;
}

.form-box button {
    outline: none;
    border: none;
    border-radius: 30px;
    padding: 10px;
    background-color: var(--dark-green);
    color: var(--main-yellow);
}

.contact-us h3 {
    background-color: var(--main-yellow);
    color: var(--dark-green);
    font-weight: 800;
    font-size: 30px;
    letter-spacing: 0.1em;
    text-align: center;
    padding: 30px 0;
    margin: 0;
}

footer .row {
    background-color: var(--dark-green);
    color: var(--main-yellow);
    padding: 20px;
    text-align: center;
}

footer .row {
    justify-content: space-between;
    margin: 0;
}

footer .col-md-6:first-child {
    position: relative;
}

footer .col-md-6:first-child::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    right: 0;
    top: 0;
    border-left: 0.5px dotted var(--main-yellow);
}

footer p {
    margin-bottom: 0;
    line-height: 2;
    font-weight: 300;
}

footer span {
    font-weight: 600;
}

.footer-info {
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    padding-bottom: 10px;
}

.footer-form {
    position: relative;
    display: flex;
    justify-self: center;
}

.footer-form input,
.footer-form button {
    padding: 5px;
    border: 1px solid var(--main-yellow);
    outline: none;
    border-radius: 30px;
}

.footer-form input {
    padding-left: 20px;
    width: 300px;
    background-color: #B3D1B3;
}

.footer-form button {
    background-color: var(--main-yellow);
    color: var(--dark-green);
    font-weight: 600;
    position: absolute;
    right: 0;
    padding: 5px 30px;
}

footer form .error {
    color: #FFFFFF;
}

@media (max-width: 768px) {
    .box {
        width: 100vw !important;
        box-shadow: none;
    }

    /* Header */
    .slide-content h1 {
        font-size: 40px;
        font-weight: 700;
        padding-top: 45px;
    }

    .slide-content p {
        font-size: 18px;
        padding-bottom: 30px;
    }

    .header-slide .slider-logo {
        width: 25vh;
    }

    /* End Header */
    /* Primary menu */
    .hamburger {
        display: flex;
        z-index: 1;
    }

    #primary-menu.active {
        display: block;
    }

    .primary-menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;

        width: 60% !important;
        height: 100vh;
        background: black;
        border: none;

        transition: 0.3s;
    }

    .primary-menu ul {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 20px;
        padding-left: 5px;
    }

    .primary-menu ul li a,
    .page {
        width: 100%;
        color: #FFFFFF !important;
        padding: 10px;
        font-size: 18px;
    }

    .primary-menu>ul>li>*:hover {
        background-color: transparent !important;
    }

    .page>p {
        display: flex;
        gap: 140px;
        align-items: center;
        color: #FFFFFF !important;
        padding: 0 !important;
    }

    .page ul {
        position: relative;
        padding: 0;
    }

    .page ul a {
        background-color: black !important;
    }

    .current {
        background: none !important;
    }

    /* Main */
    /* About us */
    .about-box-row {
        padding-bottom: 50px !important;
    }

    .container .section-box,
    .our-chef>.row {
        padding-left: 0;
        padding-right: 0;
    }

    .food-menu>.row {
        padding-top: 0 !important;
    }

    .food-lover-slider h1,
    .row .section-title {
        font-size: 30px;
    }

    .about-us img {
        padding-bottom: 10px;
    }

    .about-intro>p {
        text-align: center;
    }

    .about-us .about-box {
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
    }

    .about-us h1 {
        text-align: center;
    }

    .about-box h2 {
        text-align: center;
    }

    /* End About us */
    /* Reservation */
    .reservations {
        padding: 40px;
        padding-bottom: 50px;
        background-color: #FFF7CC;
    }

    .reservations>* {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }

    .reservation-input,
    .size-input {
        position: relative;
        display: block;
        padding: 0;
    }

    .reservations input {
        width: 100%;
        padding-left: 15px;
        border-radius: 30px;
    }

    .input-icon {
        position: absolute;
        display: inline-block;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        padding: 6px 10px;
    }

    .size-input .input-icon {
        padding: 0 15px;
    }

    /* End reservation */
    /* Chef */
    .our-chef>.container>.row>div {
        padding-bottom: 30px;
    }

    .chef-box {
        padding-bottom: 30px;
    }

    /* End Chef */
    /* Food lover */
    .food-lover-slider .section-box {
        background-color: #FFF7CC !important;
    }

    #carouselExampleIndicators {
        width: 94%;
    }

    .lover-content {
        text-align: center;
        min-height: 220px;
        padding: 0 23px;
    }

    .lover-content h2 a {
        padding-top: 10px;
    }

    /* End Food lover */
    /* Footer */
    .contact-us-info {
        padding-bottom: 30px;
    }

    .contact-us h3 {
        font-size: 19px;
        padding: 30px 10px;
    }

    .copyright {
        padding-bottom: 10px;
    }

    footer .col-md-6:first-child::after {
        border-left: none;
    }
}